@import url("./typography.scss");

$slate-light: #e2e8f0;
$slate: #64748b;
$pink-light: #fbcfe8;
$pink: #ec4899;
$pink-dark: #be185d;
$shadow: rgba(0, 0, 0, 0.24) 0px 2px 7px;

html {
  font-family: Ubuntu, sans-serif;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
}

.auth-section {
  width: 100%;
  max-width: 26rem;
  overflow: hidden;
  margin: auto;
  margin-top: 2rem;
  box-shadow: $shadow;
  border-radius: 0.5rem;
  background-color: white;

  * {
    transition: all 0.15s ease-out;
  }

  &__header {
    background-color: $slate-light;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  &__heading {
    padding: 1rem;
    color: $pink;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  &__form {
    padding-inline: 2.5rem;
    padding-block: 0 2rem;

    button {
      width: 100%;
      box-shadow: $shadow;
      border-radius: 0.2rem;
      background-color: $pink;
      padding: 0.5rem 1rem;
      color: white;
      font: inherit;
      font-weight: bold;

      &:hover {
        background-color: $pink-light;
        color: $pink-dark;
      }
    }
  }
}

.auth-section__form__input {
  label {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: 500;
  }

  input {
    width: 100%;
    margin-bottom: 1.2rem;
    outline: 0.1rem solid $slate;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font: inherit;
  }

  input:focus {
    outline-color: $pink;
  }
}
